---
# Source: echo-server/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-server
  labels:
    helm.sh/chart: echo-server-0.1.0
    app.kubernetes.io/name: echo-server
    app.kubernetes.io/instance: echo-server
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: echo-server
      app.kubernetes.io/instance: echo-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: echo-server
        app.kubernetes.io/instance: echo-server
    spec:
      serviceAccountName: default
      securityContext:
        {}
      containers:
        - name: echo-server
          securityContext:
            {}
          image: "registry.cn-hangzhou.aliyuncs.com/haoshuwei24/echo-server:v1.0.0-a44a3c"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
